.jobs{
  padding-top: 15px;
}

.filter_menu{
  width: 100% !important;
}

.filter_keyword_input{
  width: 100% !important;
}

.job-ad-title{

}

.job-list{
  /*padding-top: 20px;*/
}

.job-list .card{
  width: 100% !important;
  /*width: 270px !important;*/
}
